torch
numpy
pillow
opencv-python
requests

# doubao
volcengine-python-sdk[ark]

# seedream
aiohttp

# aliyun
alibabacloud_facebody20191230
alibabacloud_imageseg20191230
alibabacloud_tea_openapi
alibabacloud_tea_util
